<!DOCTYPE html>
<html>
<head>
    <title>Anonymous File Hosting</title>
    <link rel="stylesheet" href="../static/css/output.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="bg-gray-800 text-white">
    <button id="myButton" class="mr-4 border border-gray-300 rounded-lg p-3">Generate Account</button>
    <p id="accountNumber"></p>
    <br>
    <h1>Log in to existing account</h1>
    <input type="text" id="existingNumber" placeholder="Account Number" style="color: black;">
    <button id="loginExisting" class="mr-4 border border-gray-300 rounded-lg p-3" onclick="window.location.href='dashboard'; localStorage.removeItem('keyFile');">Login</button>
    <a href="/dashboard" class="mr-4 border border-gray-300 rounded-lg p-3">Click here to go to your dashboard</a>
    <script>
    $(document).ready(function(){
        $("#myButton").click(function(){
            $.ajax({
                url: "/button-click",
                type: "get",
                success: function(response) {
                    $("#accountNumber").html(response);
                },
                error: function(xhr) {
                    // handle error
                }
            });
        });
        $("#loginExisting").click(function(){
            $.ajax({
                url: "/login-existing",
                type: "post",
                contentType: "application/json",
                data: JSON.stringify({
                    accountNumber: $("#existingNumber").val()
                }),
                success: function(response) {
                    if(response.message) {
                        alert(response.message + ". Number: " + response.number);
                    } else if(response.error) {
                        alert(response.error);
                    }
                },
                error: function(xhr) {
                    response = JSON.parse(xhr.responseText);
                }
            });
        });
    });
    </script>
</body>
</html>